html, body {
  width: 100%;
  height: 100%;
  font-size: 16px; }

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, li {
  list-style: none; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

input[type="text"],
textarea {
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  @media (min-width: 480px) {
    .header {
      justify-content: space-around; } }

.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-family: Shrikhand;
  font-size: 8vmin;
  color: #d2b7ff;
  text-shadow: 1px 1px 2px #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  @media (min-width: 480px) {
    .h1 {
      height: 70px;
      font-size: 35px; } }

.container-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px; }
  @media (min-width: 480px) {
    .container-selector {
      width: 20%;
      height: 130px;
      border: none; } }

.container-lista {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 130px;
  height: 30px;
  font-size: 14px; }

.elige-puzzle {
  margin: 0;
  border: 0;
  padding: .5em .9em;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  background-color: #009688;
  box-shadow: 0 .1em .2em -.1em #666;
  transition: all, .03s;
  width: 130px;
  font-size: 15px;
  font-weight: bold;
  text-align: center; }
  .elige-puzzle:hover {
    background-color: #00c9b6; }
  .elige-puzzle:active {
    transform: scale(0.96, 0.96);
    box-shadow: 0 0 0  #fff;
    border-radius: 4px; }

.ul-lista {
  width: 100%;
  transition: all, .3s;
  box-shadow: 0 5px 10px -4px #666;
  z-index: 10; }

.li-lista {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  color: #333;
  background-color: #fff;
  font-size: 0;
  cursor: pointer;
  transition: all, .3s;
  position: relative; }
  .li-lista:hover {
    color: #fff;
    background-color: #009688; }
  .li-lista:active {
    background-color: #00c9b6;
    font-size: 13px;
    transition: none; }

.container-lista:hover .li-lista {
  height: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px; }

.container-lista:hover .letras {
  width: 100%;
  height: 100%; }

.ul-lista > li:last-child {
  border-radius: 0 0 5px 5px; }

.miniaturas-mostrar {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 100%;
  background-size: cover;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 5px 0px 10px #333;
  transition: all, .3s; }

.container-radio {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 80px; }
  @media (min-width: 480px) {
    .container-radio {
      width: 45%;
      height: 130px; } }
  .container-radio > p:first-of-type {
    font-size: 14px;
    font-weight: bold;
    color: #009688; }

.container-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px; }
  @media (min-width: 480px) {
    .container-inputs {
      width: 100%; } }
  .container-inputs .item-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70px; }
    .container-inputs .item-input .radio {
      font-size: 30px; }
    .container-inputs .item-input .label-radio {
      font-size: 14px;
      padding-left: 5px; }
  .container-inputs #radio-9:checked + label {
    color: #009688;
    font-weight: bold; }
  .container-inputs #radio-16:checked + label {
    color: #009688;
    font-weight: bold; }
  .container-inputs #radio-25:checked + label {
    color: #009688;
    font-weight: bold; }

.container-boton-rejilla {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: flex-row;
  justify-content: space-around;
  width: 100%;
  height: 70px; }
  @media (min-width: 480px) {
    .container-boton-rejilla {
      width: 20%;
      height: 130px;
      flex-direction: column; } }

.boton-solucion,
.boton-rejilla {
  margin: 0;
  border: 0;
  padding: .5em .9em;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  background-color: #009688;
  box-shadow: 0 .1em .2em -.1em #666;
  transition: all, .03s;
  font-size: 12px; }
  .boton-solucion:hover,
  .boton-rejilla:hover {
    background-color: #00c9b6; }
  .boton-solucion:active,
  .boton-rejilla:active {
    transform: scale(0.96, 0.96);
    box-shadow: 0 0 0  #fff;
    border-radius: 4px; }

.boton-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  @media (min-width: 480px) {
    .boton-menu {
      display: none; } }

.slide {
  width: 80px;
  height: 80px;
  margin-left: 10%; }
  @media (min-width: 480px) {
    .slide {
      width: 90px;
      height: 90px; } }

.container-puzzle {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }
  @media (min-width: 480px) {
    .container-puzzle {
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
      height: 50vw;
      margin-top: 0;
      padding: 2%; } }

.puzzle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 75vw;
  height: 75vw;
  margin-bottom: 1%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px -5px #666; }
  @media (min-width: 480px) {
    .puzzle {
      width: 45vw;
      height: 45vw;
      max-width: 500px;
      max-height: 500px;
      margin-bottom: 0; } }

.casillas-9,
.casillas-16,
.casillas-25 {
  user-select: none;
  position: relative; }

.casillas-9 {
  width: 33.333%;
  height: 33.333%; }

.casillas-16 {
  width: 25%;
  height: 25%; }

.casillas-25 {
  width: 20%;
  height: 20%; }

.container-puzzle img {
  width: 100%;
  position: absolute; }

.piezas {
  width: 100%;
  position: absolute; }

.rejilla {
  border: 1px solid rgba(0, 0, 0, 0.2); }

.caminar,
.flexion,
.presentacion,
.correcto,
.incorrecto {
  width: 200px;
  height: 113px;
  position: absolute;
  top: 86px;
  background-position: 0 0;
  visibility: hidden; }

.caminar {
  left: 100%;
  background-image: url(../img/suricata/sprite-caminar-low.png);
  visibility: visible; }

.flexion {
  background-image: url(../img/suricata/sprite-flexion-low.png); }

.presentacion {
  background-image: url(../img/suricata/sprite-presentacion-low.png); }

.correcto {
  background-image: url(../img/suricata/sprite-correcto-low.png); }

.incorrecto {
  background-image: url(../img/suricata/sprite-incorrecto-low.png); }

.mensaje {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 0;
  position: absolute;
  top: 200px;
  left: 40%;
  border-radius: 5px;
  color: transparent;
  background-color: rgba(140, 0, 255, 0.8);
  box-shadow: 0 5px 10px -3px #000;
  text-align: center;
  transition: all, .5s;
  z-index: 1000; }

#outline {
  position: absolute;
  top: 97vh;
  cursor: pointer; }

.outline {
  outline: 1px solid #e0e0e0; }

body {
  font-family: "Open Sans", sans-serif; }

body {
  overflow-y: hidden; }

.container {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1%;
  padding-right: 1%;
  overflow: hidden; }
  @media (min-width: 480px) {
    .container {
      padding: 0; } }

/*# sourceMappingURL=styles.css.map */
