html, body {
  width: 100%;
  height: 100%;
  font-size: 16px; }

* {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul, li {
  list-style: none; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

input[type="text"],
textarea {
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  @media (min-width: 480px) {
    .header {
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; } }

.h1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-family: Shrikhand;
  font-size: 8vmin;
  color: #d2b7ff;
  text-shadow: 1px 1px 2px #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  @media (min-width: 480px) {
    .h1 {
      height: 70px;
      font-size: 35px; } }

.container-selector {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px; }
  @media (min-width: 480px) {
    .container-selector {
      width: 30%;
      height: 130px;
      border: none; } }

.container-lista {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 130px;
  height: 30px;
  font-size: 14px; }

.elige-puzzle {
  margin: 0;
  border: 0;
  padding: .5em .9em;
  font-size: 16px;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  background-color: #009688;
  -webkit-box-shadow: 0 .1em .2em -.1em #666;
  box-shadow: 0 .1em .2em -.1em #666;
  -webkit-transition: all, .03s;
  -o-transition: all, .03s;
  transition: all, .03s;
  width: 130px;
  font-size: 14px;
  text-align: center; }
  .elige-puzzle:hover {
    background-color: #00c9b6; }
  .elige-puzzle:active {
    -webkit-transform: scale(0.96, 0.96);
    -ms-transform: scale(0.96, 0.96);
    transform: scale(0.96, 0.96);
    -webkit-box-shadow: 0 0 0  #fff;
    box-shadow: 0 0 0  #fff;
    border-radius: 4px; }

.ul-lista {
  width: 100%;
  height: 0;
  -webkit-transition: all, .3s;
  -o-transition: all, .3s;
  transition: all, .3s;
  -webkit-box-shadow: 0 5px 10px -4px #666;
  box-shadow: 0 5px 10px -4px #666;
  border-radius: 0 0 5px 5px;
  z-index: 10;
  overflow: hidden; }

.container-lista:hover .ul-lista {
  height: 120px; }

.li-lista {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: all, .3s;
  -o-transition: all, .3s;
  transition: all, .3s; }
  .li-lista:hover {
    color: #fff;
    background-color: #009688; }
  .li-lista:active {
    background-color: #00c9b6;
    font-size: 13px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }

.container-radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 80px; }
  @media (min-width: 480px) {
    .container-radio {
      width: 40%;
      height: 130px; } }
  .container-radio > p:first-of-type {
    font-size: 14px;
    font-weight: bold;
    color: #009688; }

.container-inputs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px; }
  @media (min-width: 480px) {
    .container-inputs {
      width: 100%; } }
  .container-inputs .item-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 70px; }
    .container-inputs .item-input .radio {
      font-size: 30px; }
    .container-inputs .item-input .label-radio {
      font-size: 14px;
      padding-left: 5px; }
  .container-inputs #radio-9:checked + label {
    color: #009688;
    font-weight: bold; }
  .container-inputs #radio-16:checked + label {
    color: #009688;
    font-weight: bold; }
  .container-inputs #radio-25:checked + label {
    color: #009688;
    font-weight: bold; }

.container-boton-rejilla {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: flex-row;
  -ms-flex-direction: flex-row;
  flex-direction: flex-row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  height: 70px; }
  @media (min-width: 480px) {
    .container-boton-rejilla {
      width: 30%;
      height: 130px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.boton-solucion,
.boton-rejilla {
  margin: 0;
  border: 0;
  padding: .5em .9em;
  font-size: 16px;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  background-color: #009688;
  -webkit-box-shadow: 0 .1em .2em -.1em #666;
  box-shadow: 0 .1em .2em -.1em #666;
  -webkit-transition: all, .03s;
  -o-transition: all, .03s;
  transition: all, .03s;
  font-size: 12px; }
  .boton-solucion:hover,
  .boton-rejilla:hover {
    background-color: #00c9b6; }
  .boton-solucion:active,
  .boton-rejilla:active {
    -webkit-transform: scale(0.96, 0.96);
    -ms-transform: scale(0.96, 0.96);
    transform: scale(0.96, 0.96);
    -webkit-box-shadow: 0 0 0  #fff;
    box-shadow: 0 0 0  #fff;
    border-radius: 4px; }

.boton-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  @media (min-width: 480px) {
    .boton-menu {
      display: none; } }

.slide {
  width: 80px;
  height: 80px;
  margin-left: 10%; }
  @media (min-width: 480px) {
    .slide {
      width: 90px;
      height: 90px; } }

.container-puzzle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }
  @media (min-width: 480px) {
    .container-puzzle {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      height: 50vw;
      margin-top: 0;
      padding: 2%; } }

.puzzle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 75vw;
  height: 75vw;
  margin-bottom: 1%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 5px 10px -5px #666;
  box-shadow: 0 5px 10px -5px #666; }
  @media (min-width: 480px) {
    .puzzle {
      width: 45vw;
      height: 45vw;
      max-width: 500px;
      max-height: 500px;
      margin-bottom: 0; } }

.casillas-9,
.casillas-16,
.casillas-25 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative; }

.casillas-9 {
  width: 33.333%;
  height: 33.333%; }

.casillas-16 {
  width: 25%;
  height: 25%; }

.casillas-25 {
  width: 20%;
  height: 20%; }

.container-puzzle img {
  width: 100%;
  position: absolute; }

.piezas {
  width: 100%;
  position: absolute; }

.rejilla {
  border: 1px solid rgba(0, 0, 0, 0.2); }

.capa-1 {
  width: 200px;
  height: 120px;
  position: absolute;
  top: 80px;
  left: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  visibility: visible; }

.capa-2 {
  width: 200px;
  height: 120px;
  position: absolute;
  top: 80px;
  left: 40%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  visibility: visible; }

@-webkit-keyframes entrada {
  0% {
    left: 100%; }
  100% {
    left: 40%; } }

@keyframes entrada {
  0% {
    left: 100%; }
  100% {
    left: 40%; } }

@-webkit-keyframes salida {
  0% {
    left: 40%; }
  100% {
    left: -120%; } }

@keyframes salida {
  0% {
    left: 40%; }
  100% {
    left: -120%; } }

.suricata {
  width: 200px;
  height: 120px;
  position: absolute;
  top: 80px;
  left: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.entrada {
  width: 200px;
  height: 120px;
  position: absolute;
  top: 80px;
  left: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation-name: entrada;
  animation-name: entrada;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background-image: url(../img/suricata/caminando.gif); }

.parada {
  width: 200px;
  height: 120px;
  position: absolute;
  top: 80px;
  left: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 40%; }

.salida {
  width: 200px;
  height: 120px;
  position: absolute;
  top: 80px;
  left: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation-name: salida;
  animation-name: salida;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background-image: url(../img/suricata/caminando.gif); }

.mensaje {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 240px;
  height: 0;
  position: absolute;
  top: 200px;
  left: 40%;
  border-radius: 5px;
  color: transparent;
  background-color: rgba(140, 0, 255, 0.8);
  -webkit-box-shadow: 0 5px 10px -3px #000;
  box-shadow: 0 5px 10px -3px #000;
  text-align: center;
  -webkit-transition: all, .5s;
  -o-transition: all, .5s;
  transition: all, .5s;
  z-index: 1000; }

#outline {
  position: absolute;
  top: 97vh;
  cursor: pointer; }

.outline {
  outline: 1px solid #e0e0e0; }

body {
  font-family: "Open Sans", sans-serif; }

body {
  overflow-y: hidden; }

.container {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1%;
  padding-right: 1%;
  overflow: hidden; }
  @media (min-width: 480px) {
    .container {
      padding: 0; } }
