
@mixin flex{
	display: flex;
	justify-content: center;
	align-items: center;
}


$anchura-li: 30px;




.header{
	@include flex;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	height: 320px;
	border-bottom: 1px solid rgba(#000, .2);
	position: absolute;
	top: -270px;
	background-color: #fff;
	z-index: 1;
	@media(min-width: 480px)
	{
		height: 200px;
		justify-content: space-around;
		position: relative;
		top: 0;
	}
}


.h1{
	@include flex;
	width: 100%;
	height: 50px;
	font-family: Shrikhand;
	font-size: 8vmin;
	color: #d2b7ff;
	text-shadow: 1px 1px 2px #000;
	border-bottom: 1px solid rgba(#000, .2);
	@media(min-width: 480px)
	{
		height: 70px;
		font-size: 35px;
	}
}
	

.h1-2{
	color: yellow;
}





.boton-menu{
	@include flex;
	width: 100%;
	height: 50px;
	@media(min-width: 480px)
	{
		display: none;
	}
}













	














