
@mixin flex{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-puzzle{
	@include flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1200px;
	max-height: 600px;
	margin-top: 50px;
	@media(min-width: 480px){
		margin-top: 0;
	}
	
}
.puzzle{
	@include flex;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vw;
	margin-bottom: 1%;
	border: 1px solid rgba(#000, .2);
	@media(min-width: 480px){
		width: 49vw;
		height: 49vw;
		max-width: 595px;
		max-height: 595px;
		margin-bottom: 0;
	}
}


.casillas-9,
.casillas-16,
.casillas-25{
	border: 1px solid rgba(#000, .2);
}


.casillas-9{
	width: 33.333%;
	height: 33.333%;
}

.casillas-16{
	width: 25%;
	height: 25%;
}

.casillas-25{
	width: 20%;
	height: 20%;
}


.container-puzzle img{
	width: 100%;
}































