
@mixin flex{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-puzzle{
	@include flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1200px;
	max-height: 600px;
	margin-top: 50px;
	@media(min-width: 480px){
		margin-top: 0;
	}
	
}
.puzzle{
	@include flex;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vw;
	margin-bottom: 1%;
	border: 1px solid rgba(#000, .2);
	@media(min-width: 480px){
		width: 49vw;
		height: 49vw;
		max-width: 595px;
		max-height: 595px;
		margin-bottom: 0;
	}
}


.piezas-9,
.piezas-16,
.piezas-25{
	border: 1px solid rgba(#000, .2);
}


.piezas-9{
	width: 33.333%;
	height: 33.333%;
}

.piezas-16{
	width: 25%;
	height: 25%;
}

.piezas-25{
	width: 20%;
	height: 20%;
}


.container-puzzle img{
	width: 100%;
}


































// #puzzle_1 div:nth-child(1){
// 	background-image: url(../img/bermeer/bermeer-5.jpg);
// 	background-size: cover;
// 	background-repeat: no-repeat;
// }

// #puzzle_1 div:nth-child(2){
// 	background-image: url(../img/bermeer/bermeer-7.jpg);
// 	background-size: cover;
// 	background-repeat: no-repeat;
// }

// #puzzle_1 div:nth-child(3){
// 	background-image: url(../img/bermeer/bermeer-4.jpg);
// 	background-size: cover;
// 	background-repeat: no-repeat;
// }

// #puzzle_1 div:nth-child(4){
// 	background-image: url(../img/bermeer/bermeer-6.jpg);
// 	background-size: cover;
// 	background-repeat: no-repeat;
// }

// #puzzle_1 div:nth-child(5){
// 	background-image: url(../img/bermeer/bermeer-3.jpg);
// 	background-size: cover;
// 	background-repeat: no-repeat;
// }

// #puzzle_1 div:nth-child(6){
// 	background-image: url(../img/bermeer/bermeer-2.jpg);
// 	background-size: cover;
// 	background-repeat: no-repeat;
// }

// #puzzle_1 div:nth-child(7){
// 	background-image: url(../img/bermeer/bermeer-1.jpg);
// 	background-size: cover;
// 	background-repeat: no-repeat;
// }

// #puzzle_1 div:nth-child(8){
// 	background-image: url(../img/bermeer/bermeer-9.jpg);
// 	background-size: cover;
// 	background-repeat: no-repeat;
// }

// #puzzle_1 div:nth-child(9){
// 	background-image: url(../img/bermeer/bermeer-8.jpg);
// 	background-size: cover;
// 	background-repeat: no-repeat;
// }