@mixin suricata{
	width: 200px;
	height: 113px;
	position: absolute;
	top: 86px;
	background-position: 0 0;
	visibility: hidden;
}


.caminar,
.flexion,
.presentacion,
.correcto,
.incorrecto
{
@include suricata;
}



.caminar{
	left: 100%;
	background-image: url(../img/suricata/sprite-caminar-low.png);
	visibility: visible;
	background: red;
}


.flexion{
	background-image: url(../img/suricata/sprite-flexion-low.png);
}


.presentacion{
	background-image: url(../img/suricata/sprite-presentacion-low.png);
}


.correcto{
	background-image: url(../img/suricata/sprite-correcto-low.png);
}


.incorrecto{
	background-image: url(../img/suricata/sprite-incorrecto-low.png);
}






.mensaje{
	@include flex;
	width: 240px;
	height: 0;
	position: absolute;
	top: 200px;
	left: 40%;
	border-radius: 5px;
	color: transparent;
	background-color: rgba(#8c00ff, .8);
	box-shadow: 0 5px 10px -3px #000;
	text-align: center;
	transition: all, .5s;
	z-index: 1000;
}