@mixin suricata{
	width: 200px;
	height: 113px;
	position: absolute;
	top: 86px;
	background-position: 0 0;
	visibility: hidden;
}


.caminar,
.flexion,
.presentacion,
.correcto,
.incorrecto
{@include suricata;}



.caminar{
	left: 100%;
	background-image: url(../img/suricata/caminar.png);
	visibility: visible;
}

.flexion{
	background-image: url(../img/suricata/flexion.png);
}

.presentacion{
	background-image: url(../img/suricata/presentacion.png);
}

.correcto{
	background-image: url(../img/suricata/correcto.png);
}

.incorrecto{
	background-image: url(../img/suricata/incorrecto.png);
}





.mensaje{
	@include flex;
	width: 240px;
	height: 0;
	position: absolute;
	top: 200px;
	border-radius: 5px;
	color: transparent;
	background-color: rgba(#8c00ff, .8);
	box-shadow: 0 5px 10px -3px #000;
	text-align: center;
	transition: all, .5s;
	z-index: 1000;
}