@import "reset";
@import "botones";
@import "cabecera";
@import "lista_de_puzzles";
@import "radio_buttons";
@import "botones_solucion_rejilla";
@import "puzzles";
@import "suricata";


@mixin flex{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#outline{
	position: absolute;
	top: 97vh;
	cursor: pointer;
}
.outline{ outline: 1px solid #e0e0e0; }


body{
	font-family: "Open Sans", sans-serif;
	overflow-y: hidden;
	overflow-x: hidden;
}


// input[type="button"]{
// 	@include boton-01( #009688);
	
// }





.container {
	width: 100%;
	max-width: 1200px;
	height: 100vh;
	margin-left: auto;
	margin-right: auto; 
	padding-left: 1%;
	padding-right: 1%;
	overflow: hidden;
	@media(min-width: 480px){
		padding: 0;
	}
}




